.game-container {
  display: flex;
  justify-content: center;
  padding-top: 72px;

  .blob-bg {
    position: absolute;
    top: 160px;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
  }

  .game-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    max-width: 264px;
    width: 100%;

    .screen {
      display: flex;
      flex-direction: column;
      height: 114px;
      margin-bottom: 8px;
      background-color: #4d4d4d;
      border-radius: 4px;

      .waiting-screen {
        display: none;

        &.active {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }

        img {
          max-width: 56px;
          width: 100%;
          height: 100%;
        }
      }

      .action-screen {
        display: none;

        &.active {
          display: flex;
          flex-direction: column;
          height: 100%;
          border-radius: 4px;
        }

        &.win {
          background-color: #7cf280;
        }

        &.lose {
          background-color: #e56767;
        }

        .symbol {
          display: flex;
          align-items: end;
          justify-content: center;
          height: 100%;
        }

        .bet {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          flex-direction: row;
          font-size: 2rem;
          font-weight: 700;
          color: #050505;

          .value {
            margin-right: 4px;
            margin-left: 4px;
          }
        }
      }

      .info-screen {
        display: flex;
        height: 100%;
        padding: 16px;

        .info {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;
          color: #b3b3b3;
        }
      }
    }

    .wallet {
      display: flex;
      align-items: center;
      height: 42px;
      margin-bottom: 8px;
      padding: 16px;

      .wallet-icon {
        width: 100%;
        max-width: 24px;
        margin-right: 16px;
      }

      .wallet-info {
        color: #ffffff;

        .total {
          font-weight: 700;
        }
      }

      .game-reset {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        padding: 4px;
        background-color: #4d4d4d;
        border-radius: 4px;
        cursor: pointer;

        .icon {
          width: 100%;
          max-width: 12px;
        }
        .label {
          color: #b3b3b3;
          font-size: 8px;
          line-height: 1;
        }
      }
    }

    .choose-bet {
      display: flex;
      height: 48px;
      margin-bottom: 8px;

      .bet-btn {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.5rem;
        padding: 16px;
        color: #b3b3b3;
        background-color: #4d4d4d;
        border-radius: 4px;
        cursor: pointer;

        &.active {
          color: #050505;
          background-color: #ffffff;

          svg {
            path {
              fill: #050505;
            }
          }
        }

        &.small-bet {
          margin-right: 4px;
        }
        &.big-bet {
          margin-left: 4px;
        }

        svg {
          max-width: 24px;
          width: 100%;
          margin-right: 16px;
        }
      }
    }

    .user-set-bet-form {
      margin-bottom: 8px;

      .user-set-bet-container {
        position: relative;

        .user-set-bet {
          width: 100%;
          height: 40px;
          padding-left: 55px;
          color: #b3b3b3;
          background-color: #4d4d4d;
          border: none;
          outline: none;
          border-radius: 4px;

          &.active {
            color: #050505;
            background-color: #ffffff;
          }

          &:focus {
            color: #050505;
            background-color: #ffffff;
          }
        }

        .user-set-bet-icon {
          position: absolute;
          top: 25%;
          left: 16px;
        }
      }
    }

    .options {
      display: flex;
      width: 100%;
      height: 64px;
      margin-bottom: 8px;

      .option {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #b3b3b3;
        background-color: #4d4d4d;
        border-radius: 4px;
        cursor: pointer;

        &.active {
          color: #050505;
          background-color: #ffffff;
        }

        &.square {
          margin-right: 4px;

          &.active {
            svg {
              rect {
                stroke: #050505;
              }
            }
          }
        }

        &.circle {
          margin-left: 4px;
          margin-right: 4px;

          &.active {
            svg {
              circle {
                stroke: #050505;
              }
            }
          }
        }

        &.triangle {
          margin-left: 4px;

          &.active {
            svg {
              path {
                stroke: #050505;
              }
            }
          }
        }
      }
    }

    .gamble {
      height: 72px;
      background-color: #4d4d4d;
      border-radius: 4px;

      .gamble-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 2rem;
        font-weight: 700;
        color: #ffffff;
        cursor: pointer;
      }
    }

    .reset {
      position: absolute;
      top: 0;
      left: 100%;
      max-width: 24px;
      width: 100%;
      max-height: 24px;
      margin-left: 8px;
      padding: 4px;
      background-color: #4d4d4d;
      border-radius: 4px;
      cursor: pointer;

      img {
        max-width: 16px;
        width: 100%;
      }
    }
  }
}
