.game-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;

  .game-table {
    background-color: #fff;
    max-width: 264px;
    width: 100%;

    .screen {
      display: flex;
      flex-direction: column;
      height: 114px;
      margin-bottom: 8px;

      background-color: green;

      .symbol {
        display: flex;
        height: 100%;
        align-items: end;
        justify-content: center;
      }

      .bet {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
      }
    }

    .wallet {
      display: flex;
      align-items: center;
      height: 42px;
      margin-bottom: 8px;

      outline: 1px solid red;

      .wallet-icon {
        width: 100%;
        max-width: 24px;
        margin-left: 16px;
        margin-right: 16px;
      }

      .wallet-info {
        .total {
          font-weight: 700;
        }
      }

      .game-reset {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: 16px;
        padding: 2px;
        background-color: gray;

        .icon {
          width: 100%;
          max-width: 12px;
        }
        .label {
          font-size: 8px;
        }
      }
    }
  }
}
