.game-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;

  .game-table {
    background-color: #fff;
    max-width: 264px;
    width: 100%;

    .screen {
      display: flex;
      flex-direction: column;
      height: 114px;
      margin-bottom: 8px;
      line-height: 0;

      background-color: green;
      outline: 1px solid red;

      .symbol {
        display: flex;
        height: 100%;
        align-items: end;
        justify-content: center;
      }

      .bet {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
      }
    }

    .wallet {
      display: flex;
      align-items: center;
      height: 42px;
      margin-bottom: 8px;
      padding: 16px;

      outline: 1px solid red;

      .wallet-icon {
        width: 100%;
        max-width: 24px;
        margin-right: 16px;
      }

      .wallet-info {
        .total {
          font-weight: 700;
        }
      }

      .game-reset {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        padding: 2px;
        background-color: gray;

        .icon {
          width: 100%;
          max-width: 12px;
        }
        .label {
          font-size: 8px;
        }
      }
    }

    .choose-bet {
      display: flex;
      height: 48px;
      margin-bottom: 8px;

      .bet-btn {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.5rem;
        padding: 16px;

        &.small-bet {
          margin-right: 4px;
        }
        &.big-bet {
          margin-left: 4px;
        }
        outline: 1px solid red;

        img {
          max-width: 24px;
          width: 100%;
          margin-right: 16px;
        }
      }
    }

    .user-set-bet-form {
      margin-bottom: 8px;

      .user-set-bet-container {
        position: relative;

        .user-set-bet {
          width: 100%;
          height: 40px;
          padding-left: 55px;
          outline: 1px solid red;
        }
        .user-set-bet-icon {
          position: absolute;
          top: 25%;
          left: 16px;
        }
      }
    }

    .options {
      display: flex;
      width: 100%;
      height: 64px;

      outline: 1px solid red;

      .option {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        outline: 1px solid red;
      }
    }
  }
}
